<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Index
  </title>
  
  <style>
  	.heading { color: #FFF; }
  </style>
  
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/demo/demo.css" rel="stylesheet" />
  <link href="assets/css/main.css" rel="stylesheet" />
  
  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  
  <!-- Custom styles for this template -->
  <link href="assets/css/agency.min.css" rel="stylesheet">
  
  
</head>

<body class="" style="padding-top: 0px;">
  <div class="wrapper" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-3.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a class="simple-text logo-normal">
          Escuela de manejo <br>"SHALOM"
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="material-icons">home</i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/verAlumnos">
              <i class="material-icons">person</i>
              <p>Alumnos</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/verInstructores">
              <i class="material-icons">supervised_user_circle</i>
              <p>Instructores</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/verAutomoviles">
              <i class="material-icons">bubble_chart</i>
              <p>Automoviles</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="/verServicios">
              <i class="material-icons">library_books</i>
              <p>Servicios</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/verContratos">
              <i class="material-icons">bubble_chart</i>
              <p>Contratos</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

	<div class="main-panel z">
	      <!-- Navbar -->
	      <img alt="" src="../assets/img/steering2.jpg">
	      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">            
			<div class="inner" style="padding-top: 200px; padding-right: 20px; padding-left: 10px;color:white;text-align: center;">
				
				<h1 class="heading">Escuela de manejo Shalom</h1> <br>
				<h3 class="heading">Donde si puedes manejar un carro, de seguro puedes manejar tus sueños</h3>
			</div>	
		   </nav>
	 
	 <!-- opcion -->
	<section class="page-section" id="opcion" style="padding-top: 20px; padding-bottom: 10px;">
	   <div class="container">
	     <div class="row">
	       <div class="col-lg-12 text-center">
	         <h4 class="section-heading text-uppercase">Tu mejor opción para aprender</h4>
	         <h3 class="section-subheading text-muted">Contamos con personal capacitado con el cual podrás desempeñarte y lograr lo que necesitas</h3>
	       </div>
	     </div>
	     <div class="row text-center">
	       <div class="col-md-4">
	         <span class="fa-stack fa-4x">
	           <i class="fas fa-circle fa-stack-2x text-primary"></i>
	           <i class="icon fa-vcard-o"></i>
	         </span>
	         <h4 class="service-heading">Licencias</h4>
	         <p class="text-muted">Bajo el registro del ministerio de transporte, todo legal como debe de ser.</p>
	       </div>
	       <div class="col-md-4">
	         <span class="fa-stack fa-4x">
	           <i class="fas fa-circle fa-stack-2x text-primary"></i>
	           <i class="icon fa-files-o"></i>
	         </span>
	         <h4 class="service-heading">Documentación</h4>
	         <p class="text-muted">Información idenoea en todos los examenes</p>
	       </div>
	       <div class="col-md-4">
	         <span class="fa-stack fa-4x">
	           <i class="fas fa-circle fa-stack-2x text-primary"></i>
	           <i class="icon fa-floppy-o"></i>
	         </span>
	         <h4 class="service-heading">Asistencias</h4>
	         <p class="text-muted">Ayuda en cualquier proceso de tramitación</p>
	       </div>
	       <div class="col-md-4">
	         <span class="fa-stack fa-4x">
	           <i class="fas fa-circle fa-stack-2x text-primary"></i>
	           <i class="icon fa-paper-plane-o"></i>
	         </span>
	         <h4 class="service-heading">Beneficios</h4>
	         <p class="text-muted">Precios comodos y accesibles, contamos con descuentos a estudiantes.</p>
	       </div>
	       <div class="col-md-4">
	         <span class="fa-stack fa-4x">
	           <i class="fas fa-circle fa-stack-2x text-primary"></i>
	           <i class="icon fa-paper-plane-o"></i>
	         </span>
	         <h4 class="service-heading">Seguros</h4>
	         <p class="text-muted">Más tranquilidad a la hora de recibir tus clases practicas.</p>
	       </div>
	       <div class="col-md-4">
	         <span class="fa-stack fa-4x">
	           <i class="fas fa-circle fa-stack-2x text-primary"></i>
	           <i class="icon fa-qrcode"></i>
	         </span>
	         <h4 class="service-heading">Horarios Flexibles</h4>
	         <p class="text-muted">Disponibilidad de elegir la hora que más te convenga</p>
	       </div>
	     </div>
	   </div>
	 </section>
		
	<!-- servicio -->
	<section class="bg-light page-section" id="servicio" style="padding-top: 20px; padding-bottom: 10px;">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-12 text-center">
	        <h4 class="section-heading text-uppercase">Servicios</h4>
	        <h3 class="section-subheading text-muted">Donde manejaras lo que desees</h3>
	      </div>
	    </div>
	    <div class="row text-center">
	      <div class="col-md-4 col-sm-6 portfolio-item ">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <img class="img-fluid" src="../assets/img/portfolio/01-thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Chevrolet Spark</h4>
           
          </div>
        </div>
	      <div class="col-md-4 col-sm-6 portfolio-item">
	        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
	          <img class="img-fluid" src="../assets/img/portfolio/02-thumbnail.jpg" alt="">
	        </a>
	        <div class="portfolio-caption">
	          <h4>Honda HR-V</h4>
	          
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-6 portfolio-item">
	        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
	          <img class="img-fluid" src="../assets/img/portfolio/03-thumbnail.jpg" alt="">
	        </a>
	        <div class="portfolio-caption">
	          <h4>frontier 2017</h4>
	          
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-6 portfolio-item">
	        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
	          <img class="img-fluid" src="../assets/img/portfolio/04-thumbnail.jpg" alt="">
	        </a>
	        <div class="portfolio-caption">
	          <h4>frontier 2017</h4>
	         
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-6 portfolio-item">
	        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
	          <img class="img-fluid" src="../assets/img/portfolio/05-thumbnail.jpg" alt="">
	        </a>
	        <div class="portfolio-caption">
	          <h4>toyota hilux 2017</h4>
	          
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-6 portfolio-item">
	        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
	          <img class="img-fluid" src="../assets/img/portfolio/06-thumbnail.jpg" alt="">
	        </a>
	        <div class="portfolio-caption">
	          <h4>nissan np300</h4>
	          
	        </div>
	      </div>
	      
	      <div class="col-md-10 portfolio-item" style="padding-right: 0px; padding-left: 160px;">
	        <br>
	        <br>
	        <div class="portfolio-caption">
	          <h4>¿qué esperas para unirte?</h4>
	          <p class="text-muted">Contamos con buenas instalaciones y excelentes automoviles,
	           en los cuales podrás realizar sin ningún problema tus clases. 
	           Personal altamente calificado en cualquier horario que decidas recibir tus clases.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>	

					
	 </div>			 
</div>

<!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="assets/js/jqBootstrapValidation.js"></script>
  <script src="assets/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="assets/js/agency.min.js"></script>
       
  <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>    
 
  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js"></script>
  <script src="assets/js/core/popper.min.js"></script>
  <script src="assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>
